[submodule "iapetus"]
	path = iapetus
	url = ../iapetus.git
[submodule "newlib"]
	path = newlib
	url = git://sourceware.org/git/newlib-cygwin.git
[submodule "libsatiator"]
	path = libsatiator
	url = ../libsatiator.git
